__pycache__/
.mypy_cache/
build/lib/instaloader/__init__.py
build/lib/instaloader/__main__.py
build/lib/instaloader/exceptions.py
build/lib/instaloader/instaloader.py
build/lib/instaloader/instaloadercontext.py
build/lib/instaloader/lateststamps.py
build/lib/instaloader/nodeiterator.py
build/lib/instaloader/py.typed
build/lib/instaloader/sectioniterator.py
build/lib/instaloader/structures.py
dist/instaloader-4.9.6-py3.11.egg
instaloader.egg-info/dependency_links.txt
instaloader.egg-info/entry_points.txt
instaloader.egg-info/not-zip-safe
instaloader.egg-info/PKG-INFO
instaloader.egg-info/requires.txt
instaloader.egg-info/SOURCES.txt
instaloader.egg-info/top_level.txt
